generator.cities=NUMBER OF CITIES
generator.districts=NUMBER OF DISTRICTS
generator.streets=NUMBER OF STREETS
generator.buildings=NUMBER OF BUILDINGS
generator.residentialUnits=NUMBER OF RESIDENTIAL UNITS
generator.users=NUMBER OF USERS IN PERCENT
generator.realtime=BOOLEAN
generator.timefactor=NUMBER OF DIVISOR FOR REALTIME
generator.table_name_electricity=TABLE NAME TO STORE WORLD ELECTRICITY
generator.table_name_water=TABLE NAME TO STORE WORLD WATER
generator.table_name_heating=TABLE NAME TO STORE WORLD HEATING

accumulo.name=NAME
accumulo.zooServers=SERVERS
accumulo.user=USER
accumulo.password=PASSWORD
accumulo.table_name=TABLE NAME
accumulo.batch_writer.max_memory=MAXIMUM MEMORY FOR BATCH WRITER

storm.debug=FALSE
storm.name=NAME
storm.num_workers=NUMBER OF WORKERS
storm.num_electricitybolt=NUMBER OF ELECTRICITY WORKERS
storm.num_hotwaterbolt=NUMBER OF HOT WATER WORKERS
storm.num_coldwaterbolt=NUMBER OF COLD WATER WORKERS
storm.num_heatingbolt=NUMBER OF HEATING WORKERS
storm.num_accumulobolt=NUMBER OF ACCUMULO WORKERS