generator.cities=NUMBER OF CITIES
generator.districts=NUMBER OF DISTRICTS
generator.streets=NUMBER OF STREETS
generator.buildings=NUMBER OF BUILDINGS
generator.residentialUnits=NUMBER OF RESIDENTIAL UNITS
generator.users=NUMBER OF USERS IN PERCENT
generator.realtime=BOOLEAN
generator.timefactor=NUMBER OF DIVISOR FOR REALTIME

accumulo.name=NAME
accumulo.zooServers=SERVERS
accumulo.user=USER
accumulo.password=PASSWORD

storm.debug=FALSE
storm.name=NAME
storm.num_workers=NUMBER OF WORKERS